body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ReactModal__Body--open .leaflet-container {
  filter: none !important;
}
  
.leaflet-container {
    height: 90vh;
    width: 100%;
}

.submarker-popup-container {
  max-width: 200px;
  font-family: Arial, sans-serif;

}

.submarker-popup-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* .custom-popup {
    margin-left: 25px;
    margin-top: 5px;
} */

/* .custom-popup {
  position: absolute;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
} */

